{% load static %}

<li>
  <article class="post" style="text-align:center">
    <a href="">
      <img src="{% static 'blog/images/mountain.jpg' %}" alt="Mountain Hiking" width="200" height="200"></img>
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero expedita rem a cupiditate placeat minus
          odit
          tempore magnam! Atque officiis error vero illo voluptatibus recusandae architecto pariatur incidunt velit
          magni?</p>
      </div>
    </a>
  </article>
</li>